<div class="project project-detail">
    <div class="content">
        <p class="location"><a href="#/">Go back to the list</a></p>
        <h2 class="project-header">{{ project.title }}</h2>
        <div ng-repeat="location in project.locations">
            <p class="location">{{ location.header }}: <a href="{{ location.url }}" target="_blank">{{ location.label }}</a></p>
        </div>
        <h4 class="short-header">description:</h4>
        <p class="short-description">{{ project.description }}</p>
    </div>
</div>
