/*
Syntax error: Invalid CSS after "...3px double #CCC": expected ";", was ":"
        on line 36 of /github/braintrain.github.com/media/sass/partials/_portfolio.scss
        from line 13 of /github/braintrain.github.com/media/sass/screen.scss

Backtrace:
/github/braintrain.github.com/media/sass/partials/_portfolio.scss:36
/github/braintrain.github.com/media/sass/screen.scss:13
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:1147:in `expected'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:1085:in `expected'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:1080:in `tok!'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:586:in `block in declaration_or_ruleset'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:1123:in `call'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:1123:in `rethrow'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:554:in `block_child'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:543:in `block_contents'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:535:in `block'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:529:in `ruleset'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:553:in `block_child'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:546:in `block_contents'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:82:in `stylesheet'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/scss/parser.rb:27:in `parse'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/engine.rb:274:in `to_tree'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `block in compile'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `block in run'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:147:in `recompile'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:87:in `perform'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/bin/compass:30:in `block in <top (required)>'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/bin/compass:44:in `call'
/home/braintrain/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/bin/compass:44:in `<top (required)>'
/home/braintrain/.rvm/gems/ruby-2.1.1/bin/compass:23:in `load'
/home/braintrain/.rvm/gems/ruby-2.1.1/bin/compass:23:in `<main>'
/home/braintrain/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/home/braintrain/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...3px double #CCC\": expected \";\", was \":\"\A         on line 36 of /github/braintrain.github.com/media/sass/partials/_portfolio.scss\A         from line 13 of /github/braintrain.github.com/media/sass/screen.scss"; }
