body {
    background-color: black;
    font-family: Techno, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
}
i {
    font-style: italic;
}
h2 {
    color: white;
    font-size: 24px;
    font-family: Techno, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;

}
.welcome_content p {
    color: white;
    font-size: 16px;
    font-family: Techno, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;

}
.welcome_content a {

}
.enlist_content p {
    color: white;
    font-size: 16px;
    font-family: Techno, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;

}
.enlist_content a {

}
.library_content p {
    color: white;
    font-size: 16px;
    font-family: Techno, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;

}
.library_content a {

}
.regulations_content p {
    color: white;
    font-size: 16px;
    font-family: Techno, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;

}
.regulations_content a {

}
.data_content p {
    color: white;
    font-size: 16px;
    font-family: Techno, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;

}
.data_content img {
    width: 400px;

}
.clear {
    clear: both;
}

#content {
    position: absolute;
    top: 90px;
    left: 165px;
    height: 613px;
    width: 70%;
    margin-right: 20px;
    margin-top: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 800px;
}
.wrapper {
    margin-top: 17px;
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    float: left;
}
.nav {
    margin-top: 17px;
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#title {
    color: #FF9900;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.nav a {
    font-weight: bold;
    font-size: 12px;
}
#diagnostics {
    color: #FF9900;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
#header {
    width: 63%;
    height: 30px;
    border-width: 40px 80px;
    border-top-left-radius: 30px 40px;
    background-color: #FF9900;
}
#footer_frame {
    width: 69%;
    height: 30px;
    border-width: 40px 80px;
    border-bottom-left-radius: 30px 40px;
    background-color: #FF9900;
}
#end {
    width: 50px;
    height: 30px;
    border-width: 40px 80px;
    border-top-right-radius: 50px 30px;
    border-bottom-right-radius: 50px 30px;
    background-color: #FF9900;
}
.top {
    min-width: 1000px;
    width: 100%
}
.bottom {
    min-width: 1000px;
    width: 100%
}

#gap {
    height: 100px;
    width: 130px;
    background-color: #9999FF;
}
#welcome {
    width: 130px;
    cursor: pointer;
    background-color: #CC99CC;
}
#log {
    width: 130px;
    cursor: pointer;
    background-color: #CC99CC;
}
#roster {
    width: 130px;
    cursor: pointer;
    background-color: #CC99CC;

}
#library {
    width: 130px;
    cursor: pointer;
    background-color: #CC99CC;
}
#regulations {
    width: 130px;
    cursor: pointer;
    background-color: #CC99CC;

}
#network {
    width: 130px;
    cursor: pointer;
    background-color: #CC99CC;

}
#data {
    width: 130px;
    cursor: pointer;
    background-color: #CC99CC;

}
#enlist {
    width: 130px;
    cursor: pointer;
    background-color: #CC99CC;

}
#footer {
    height: 30px;
    background-color: #FF9900;
    border-width: 40px 80px;
    border-bottom-left-radius: 30px 40px;
    border-bottom-right-radius: 50px 30px;
    border-top-right-radius: 50px 30px;
    width: 100%;
}
