/*
    standard html object overrides
*/
html, body {
    height: 100%;
}
body {
    background:url(/media/img/chalkboard-black-5.png) repeat;
    font-family: "futura-pt", Fallback, sans-serif;
    color: #CCC;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'sketch-blockbold', Fallback, sans-serif;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h4 {
    font-size: 18px;
}
a {
    font-family: 'eraserregular', Fallback, sans-serif;
    color: rgb(16, 159, 255);
}

/*
    content/position specific 
*/
.page-title {
    margin: 15px;
}
.portfolio-source {
    bordr-bottom: 3px double #CCC;
    padding: 20px;
}
.project {
    width: 400px;
    height: 230px;
    margin: 20px;
    outline-style: double;
    position: relative;

    .project-header {
        margin: 10px;
    }
    .content {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;

        .location {
            margin: 12px;
            font-family: 'eraserregular', Fallback, sans-serif;
        }
        .short-header {
            margin: 20px 0px 0px 15px;
        }
        .short-description {
            margin: 3px 0px 0px 15px;
        }
    }
}
.project-detail {
    outline-style: none;
}
.quick-transition {
    @include transition(all 0.25s ease-in-out);
}
